<!DOCTYPE html>
<html>
<head>
  <title>Inventory Management System</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/yeti/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="asset-index">
    <h2>All Assets</h2>
  </div>

  <h2>New Asset</h2>
  <form id="asset-thing">
    <p><strong>Name:</strong></p>
    <input id="new-name" name="name" type="text">

    <p><strong>Internal IP:</strong></p>
    <input id="new-internal-ip" name="internal_ip" type="text">

    <p><strong>External IP:</strong></p>
    <input id="new-external-ip" name="external_ip" type="text">

    <p><strong>Environment:</strong></p>
    <input id="new-environment" name="environment" type="text">

    <p><strong>Client:</strong></p>
    <input id="new-client" name="client" type="text">

    <p><strong>Location:</strong></p>
    <input id="new-location" name="location" type="text">

    <p><input id="new-submit" type="submit"></p>
  </form>

  <footer>
	  <script>
	    $(document).ready(function () {
	      // Load Assets data immediately
	      $.ajax({
		url: '/asset',
		method: 'GET'
	      }).done(function (data) {
		data.forEach(function (d) {
		  $('#asset-index').append("<p><strong>" + d.name+ "</strong>: " + d.client_name + " " + d.internal_ip + "</p>");
		});
	      });
	      // Form to create a new Thing
	      $('#new-submit').click(function () {
		var data = {};
		// Get the data from the form elements
		data.name = $('#new-name').val();
		data.internal_ip = $('#new-internal_ip').val();
		data.external_ip = $('#new-external_ip').val();
		data.environment = $('#new-environment').val();
		data.client = $('#new-client').val();
		data.location = $('#new-client').val();
		$.ajax({
		  url: '/asset',
		  method: 'POST',
		  data: data
		}).done(function (response) {
		  console.log(response);
		});
		// Prevent the form from being submitted.
		return false;
	      });
	    });
	  </script>
  </footer>
</body>
</html>
