<!DOCTYPE html>
<html>
	<head>
		<title>Inventory Management System</title>
		<link href="main.css", rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<table>
			<tr>
				<th>location</th>
				<th>environment</th>
				<th>name</th>
				<th>vlan</th>
				<th>internal_ip</th>
				<th>external_ip</th>
				<th>client_name</th>
				<th>fqdn</th>
				<th>ssl</th>
				<th>details</th>
			</tr>
			<%= yield %>
		<table>
	<body>
<html>
